<wyb-navbar>Log In</wyb-navbar>

<ion-content padding class="getting-started">

  <ion-card *ngIf='!hasLoggedIn'>
    <ion-card-content>
      <p>Logging in allows us to credit you with any information you provide with this app.</p>
    </ion-card-content>
    <ion-item actions>
      <button item-right type="button" (click)='logIn()'>Log In</button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf='hasLoggedIn'>
    <ion-card-header>Thank you!</ion-card-header>
    <ion-card-content>
      <p>Log in successful.</p>
    </ion-card-content>
    <ion-item actions>
      <button item-right type="button" (click)='goHome()'>Return Home</button>
    </ion-item>
  </ion-card>

</ion-content>
