<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Check {{ typeText() }}</ion-title>
</ion-navbar>

<ion-content padding class="getting-started">


  <ion-card *ngIf='!isSuccessful'>
    <form [ngFormModel]="frm" (submit)="save($event)">

      <ion-card-content>
        <p>Checking bikes {{ typeText() | lowercase }} helps us track where our bikes are.  Please select options below and click "CHECK {{ typeText() | uppercase }}".</p>

        <ion-item>
          <ion-label>* Select a bike rack</ion-label>
          <ion-select ngControl='bikeRackId'>
            <ion-option *ngFor='#br of bikeRacks' [value]='br.id'>{{br.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Choose a bike</ion-label>
          <ion-select ngControl='bikeId'>
            <ion-option *ngFor='#b of bikes' [value]='b.id'>{{b.identifier}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-card-content>

      <ion-item actions>
        <button clear item-left type="button" (click)='close()'>Cancel</button>
        <button item-right type="submit">Check {{ typeText() }}</button>
      </ion-item>

    </form>
  </ion-card>

  <ion-card *ngIf='isSuccessful'>
    <ion-card-header>Thank you!</ion-card-header>
    <ion-card-content>We appreciate your helping tracking our bikes.</ion-card-content>
    <ion-item actions>
      <button item-right (click)='close()'>Close</button>
    </ion-item>
  </ion-card>

</ion-content>
