<wyb-navbar>Check {{ typeText() }}</wyb-navbar>

<ion-content padding class="getting-started">


  <ion-card *ngIf='!isSuccessful'>
    <form [formGroup]="frm" (submit)="save($event)">

      <ion-card-content>
        <p>Checking bikes {{ typeText() | lowercase }} helps us track where our bikes are.  Please select options below and click "CHECK {{ typeText() | uppercase }}".</p>
        <bike-rack-select ngControl='bikeRackId'></bike-rack-select>
        <bike-select ngControl='bikeId'></bike-select>
      </ion-card-content>

      <ion-item actions>
        <button clear item-left type="button" (click)='close()'>Cancel</button>
        <button item-right type="submit">Check {{ typeText() }}</button>
      </ion-item>

    </form>
  </ion-card>

  <ion-card *ngIf='isSuccessful'>
    <ion-card-header>Thank you!</ion-card-header>
    <ion-card-content>We appreciate your helping tracking our bikes.</ion-card-content>
    <ion-item actions>
      <button item-right (click)='close()'>Close</button>
    </ion-item>
  </ion-card>

</ion-content>
